.programs-filter-form {
    background-color: $color-background;
    padding: 45px 40px 40px;
    position: sticky;
    top: 30px;

    @include sm {
      padding: 35px 20px 30px;
    }
    .form-control:not(.checkbox) {
        display: flex;
        flex-direction: column;
      }
    button {
        width: 100%;
        display: block;
      }
  }