$color-black: black;
$color-white: white;
$color-red: red;
$color-green: green;
$spacing-medium: 30px;

*, *::before, *::after {
  box-sizing: border-box;
}
.bg-dark {
  background-color: $color-black;
  color: $color-white;
}
.wrapper {
  padding: $spacing-medium;
  &.full-width {
    width: 100%;
  }
  &.half-width {
    width: 50%;
  }
  &.bg-dark {
    background-color: rgb(37, 37, 37);
  }
  h2 {
    font-size: 40px;
    &.color-red {
      color: $color-red;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: $color-green;
      }
    }
  }
    .box {
    border: 2px solid $color-green;
    padding: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  p:not(.empty)::before {
    content: '- ';
    color: $color-red;
  }
  p:first-of-type {
    font-size: 1.5em;
  }
}
/* .wrapper p::before {
  content: '- ';
  color: var(--color-red);
}
.wrapper p.empty::before {
  content: none;
} */


.container {
  width: 70%;
  margin: $spacing-medium, auto;
}